<% provide(:title, "Other") %>
<body>
<h1>その他のページ</h1>

<h2>化石</h2>
<p>売値はパーツ順に対応してます。</p>
    <% @fossils.each do |fossil| %>
    <div class="fossil-block">
        <%= image_tag  "#{fossil.image_name}" %>
        <input type="checkbox"><%= fossil.name %><br>
        <span>パーツ:</span><%= fossil.parts %><br>
        <span>売　値:</span><br><%= fossil.price %><br>
    </div>
    <% end %>
</body>